* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --base-width: 40vw;
}

body {
  font-family: "Courier New";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: clamp(16px, 1.3vw, 24px);
}
